<div class="modal fade" id="createHabitModal" tabindex="-1" aria-labelledby="createHabitModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Add Habit</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeCreateHabitModal"></button>
      </div>
      <div class="modal-body">
        <div id="createHabitError" class="mt-2"></div>
        <form id="habit-create-form" method="post" class="habit-form">
          {% form_theme createHabitForm 'form/habit_form_theme.html.twig' %}
          {{ form_errors(createHabitForm) }}
          {{ form_start(createHabitForm, {'id_prefix': 'create_'}) }}

          {{ form_row(createHabitForm.name) }}
        
          {{ form_row(createHabitForm.hasTime, {
            'label': '<i class="bi bi-clock"></i>  Set specific time',
            'label_html': true
          }) }}

          {{ form_row(createHabitForm.time) }}
          
          <label for="habit_form_frequency">Frequency</label>
          {{ form_row(createHabitForm.frequency) }}
          
          {{ form_row(createHabitForm.weekDays) }}
          
          <label for="habit_form_color">Color</label>
          {{ form_row(createHabitForm.color) }}
          
          <button type="submit" class="securityForm__submit">Create</button>

          {{ form_end(createHabitForm) }}
        </form>
      </div>
    </div>
  </div>
</div>
