<div class="dashboard-stats">

    <div class="dashboard-stats__block"> 
        <div class="dashboard-stats__block--icon">
            <i class="fa-regular fa-circle-check"></i>
        </div>
        <div>
            <p class="dashboard-stats__block--title"> Active Habits </p>
            <p class="dashboard-stats__block--value"  id="stat__total-habits">{{totalHabits}} </p>
        </div>
    </div>
    <div class="dashboard-stats__block"> 
        <div class="dashboard-stats__block--icon">
           <i class="fa-regular fa-star"></i>
        </div>
        <div>
            <p class="dashboard-stats__block--title"> Longest Streak </p>
            <p class="dashboard-stats__block--value" id="stat__longest-streak">{{longestStreak}} {% if longestStreak == 1 %} day {% else %} days {% endif %}</p>
        </div>
    </div>
    <div class="dashboard-stats__block"> 
        <div class="dashboard-stats__block--icon">
            <i class="fa-regular fa-calendar"></i>
        </div>
        <div>
            <p class="dashboard-stats__block--title"> Today's Progress </p>
            <p class="dashboard-stats__block--value" id="stat__progress"> {{completedHabits}}/{{totalTodayHabits}}</p>
        </div>
    </div>
    <div class="dashboard-stats__block"> 
        <div class="dashboard-stats__block--icon">
            <i class="fa-solid fa-list-check"></i>
        </div>
        <div>
            <p class="dashboard-stats__block--title"> Completion Rate </p>
            <p class="dashboard-stats__block--value" id="stat__completion-rate"> {{((completedHabits / totalTodayHabits) * 100)|round}} %</p>
        </div>
    </div>
</div>