 <div class="habit today" id="today__habit_{{habit.id}}">
    <div class="habit__color color_{{habit.color}}" > </div>
    <div class="habit__checkbox" > </div>
    <div class="habit__data" > 
        <p class="habit__data--title" > {{habit.name}} </p>
         {% if habit.time %}<span class="habit__data--time"><i class="fa-regular fa-clock"></i> {{habit.time|date('H:i')}} </span> {%endif%}
       
    </div>
    <div class="habit__data--streak"><i class="fa-regular fa-star"></i>  {{habit.streak}} </div>
</div>