 <div class="habit today {% if habit.is_completed %}habit--completed{% endif %}" id="today__habit_{{habit.id}}">
    <div class="habit__left-side">
        <div class="habit__color color_{{habit.color}}" > </div>
        <div class="habit__checkbox" > </div>
        <div class="habit__data" > 
            <p class="habit__data--title" > {{habit.name}} </p>
           
        </div>
    </div>
    <div class="habit__right-side">
     {% if habit.time %}<span class="habit__data--time"><i class="fa-regular fa-clock"></i> {{habit.time|date('H:i')}} </span> {%endif%}
        <div class="habit__data--streak"  data-id="{{habit.id}}"><i class="fa-regular fa-star"></i>  {{habit.streak}} </div>
    </div>
</div>