<div class="habit all" id="habit_{{habit.id}}">
    <div class="habit__color color_{{habit.color}}"> </div>
    <div class="habit__data" > 
        <div  class="habit__data">
            <p class="habit__data--title" >{{habit.name}}</p>
            <p class="habit__data--category">category</p>
            <div class="habit__data--wrapper"> 
                {% if habit.time %}<span class="habit__data--time"><i class="fa-regular fa-clock"></i> {{habit.time|date('H:i')}} </span> {%endif%}
                <span class="habit__data--reocurance"><i class="fa-regular fa-calendar"></i> 
                    {% if habit.frequency is same as('days') %}
                        <span>
                            {%for day in habit.weekDays%}
                            <span class="habit__data--time"> {{day}} </span> 
                            {%endfor%}
                        </span>
                    {%else%}
                        {{habit.frequency}} 
                    {%endif%}
                </span>
                <span class="habit__data--streak"><i class="fa-regular fa-star"></i>  {{habit.streak}} </span>
            </div>
        </div>
    </div>
    <div class="habit__actions">
        <button class="habit__action edit-habit-btn" 
            data-id="{{habit.id}}" 
            data-url="/habit/edit/{{habit.id}}">
            <i class="fa-regular fa-pen-to-square"></i>
        </button>
        <button class="habit__action delete-habit-btn" href="{{path('app_main')}}"
            data-id="{{habit.id}}" 
            data-url="/habit/delete/{{habit.id}}">
            <i class="fa-regular fa-trash-can"></i>
        </button>
    </div>
</div>